html, body {
  height: 100%;
  width: 100%;  
}

body {
  background: #111;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
}

.glitch {
  position: relative;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  z-index: 1;
  font-size: 8vw;
  font-weight: 700;
  margin: 50px 0;
  scale: 2.5;
}

.glitch .glitch-link {
  position: relative;
  display: inline-block;
}

.glitch-link span {
  position: relative;
  z-index: 2;
  color: #fff;
}

.blur {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.glitch .glitch-link:after,
.glitch .glitch-link:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(data-content);
  visibility: hidden;
}

.glitch.active .glitch-link:after,
.glitch.active .glitch-link:before {
  visibility: visible;
}

.glitch .glitch-link:before {
  color: rgba(255, 0, 188, 0.8);
  -webkit-animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
  animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
}


.glitch .glitch-link:after {
  color: rgba(0,255,255,0.8);
  -webkit-animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
  animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
}


@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px)
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px)
  }
  60% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px)
  }
  80% {
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px)
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, 3px)
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px)
  }
  60% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px)
  }
  80% {
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px)
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}